{% extends 'base.html' %}
{% block content %}

<div class="py-8">
  <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
    <h1 class="text-2xl font-semibold mb-4">Account Details</h1>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-lg font-semibold mb-1">Account Name:</p>
        <p class="text-gray-600">{{ account.name }}</p>
      </div>
      <div>
        <p class="text-lg font-semibold mb-1">Balance:</p>
        <p class="text-gray-600">${{ account.balance }}</p>
      </div>
    </div>
    <div class="mt-6">
      <a href="{% url 'account_update' account.id %}" class="text-emerald-600 hover:underline">Edit Account</a>
      <a href="{% url 'account_delete' account.id %}">Delete</a>
    </div>
  </div>
</div>

<h2 class="text-xl font-semibold mt-8">Transaction History <a>+</a></h2>
    <ul class="mt-4">
      {% for transaction in transaction_list %}
        <li class="mb-2">
          <span class="font-semibold">{{ transaction.title }}</span>
          <span class="text-gray-600 ml-2">{{ transaction.date }}</span>
          <span class="ml-2">${{ transaction.amount }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
