{% extends 'base.html' %}

{% block content %}

<div class="container flex items-center justify-center m-10">
    
    <form action="" method="POST">
    
        {% csrf_token %}

        <div class="grid grid-cols-2 gap-4">
            <div class="flex justify-center">
                <label for="name">Name</label>
            </div>
            <input type="text" id="name" name="name" class="input-class">
            <div class="flex justify-center">
                <label for="name">Balance</label>
            </div>
            <input type="number" id="balance" name="balance" class="input-class">
            
            <div class="col-span-2 flex justify-center">
                <button class="btn-main" type="submit">Add Account</button>
            </div>
        
        </div>
    
    </form>

</div>


{% endblock %}