{% extends 'base.html' %}
{% block content %}

<div class="py-8">
  <div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg p-6">
    <h1 class="text-2xl font-semibold mb-4">Account Details</h1>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <p class="text-lg font-semibold mb-1">Account Name:</p>
        <p class="text-gray-600">{{ account.name }}</p>
      </div>
      <div>
        <p class="text-lg font-semibold mb-1">Balance:</p>
        <p class="text-gray-600">${{ account.calculate_account_balance }}</p>
      </div>
    </div>
    <div class="mt-6">
      <a href="{% url 'account_update' account.id %}" class="text-emerald-600 hover:underline">Edit Account</a>
      <a href="{% url 'account_delete' account.id %}">Delete</a>
    </div>
  </div>
</div>

<h2 class="text-xl font-semibold mt-8">Transaction History <a class="btn-main-sm" href="{% url 'transaction_create' account.id%}">+</a></h2>
    <ul class="mt-4">
      <table class="table-auto w-full">
<thead>
    <tr>
      <th class="w-1/3">Title</th>
      <th class="w-1/3">Date</th>
      <th class="w-1/3">Amount</th>
    </tr>
  </thead>
      {% for transaction in transaction_list %}
        <tr>
          <td> <span class="font-semibold">{{ transaction.title }}</span></td>
          <td><span class="text-gray-600 ml-2">{{ transaction.date }}</span></td>
          <td><span class="ml-2">${{ transaction.amount }}</span></td>
        </tr>
      {% endfor %}
      </table>
    </ul>
  </div>
</div>

{% endblock %}
