{% extends 'base.html' %}

{% block content %}
<h1>Cash-a-roo</h1>
<img src=>
<h2>Pocket those pennies and
    leap into savings! 🌟</h2>
<p>Bounce between budgets without breaking a sweat. Casharoo’s got your back, mate! </p>
<p> 🦘 Stay on top of your bills with a hop, skip, and a jump.</p>
<p> 🌳 Plant seeds for your future savings, and watch them grow.</p>
<p> 🎨 Customize your expense terrain; make it as colorful as the outback sunset.</p>
<p>Dive into Casharoo – where your finances find their flow and fun jumps in!</p>
<p>Casharoo: Making cents (and dollars) of your expenses. 🎉"</p>
<button>Start Here</button>
#{% endblock %}