{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex flex-col items-center">
    {% if user.is_authenticated %}
        <h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary self-center">Welcome back, {{ user.username }}!</h1>

        <h2 class="mt-4 text-2xl font-medium leading-tight text-primary">Total Current Balance:</h2>
        <h2 class="mt-2 text-4xl font-bold leading-tight text-primary text-emerald-600">${{ total_balance }}</h2>

        <div class="mt-8 w-full text-center">
            <h2 class="text-2xl font-medium leading-tight text-primary text-center">Recent Transactions:</h2>
            <div class="mt-2 w-full sm:w-3/4 lg:w-2/3">
              <table class="table-auto mt-4 w-full">
                  <thead>
                      <tr>
                          <th class="px-4 py-2">Date</th>
                          <th class="px-4 py-2">Description</th>
                          <th class="px-4 py-2">Account</th>
                          <th class="px-4 py-2">Amount</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for transaction in transactions|dictsortreversed:"date" %}
                          <tr class="{% cycle 'bg-gray-100' 'bg-white' %}">
                              <td class="px-4 py-2">{{ transaction.date }}</td>
                              <td class="px-4 py-2">{{ transaction.title }}</td>
                              <td class="px-4 py-2">{{ transaction.account.name }}</td>
                              <td class="px-4 py-2">${{ transaction.amount }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
      
        <a href="/accounts/" class="btn-main mt-4">
            View Your Accounts
        </a>
    {% else %}

        <section class="splash">
            <h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary self-center text-emerald-700">
                Cashar<span class="coin-lg">o</span><span class="coin-lg">o</span>
            </h1>
        
            <div class="flex flex-col md:flex-row mt-4">
        
                <div class="img-container">
                    <img class="img-main" src={% static "images/casharooWebLarge.png" %}>
                </div>
        
                <section class="splash-text">
                    <h2 class="headline">Pocket those pennies and leap into savings! 🌟</h2>
                    <p class="text-gray-800">Bounce between budgets without breaking a sweat. Casharoo’s got your back, mate! </p>
                    <ul class="text-left md:ps-20 text-gray-500">
                        <li class="text-left">🦘 Stay on top of your bills with a hop, skip, and a jump.</li>
                        <li>🌳 Plant seeds for your future savings, and watch them grow.</li>
                        <li>🎨 Customize your expense terrain; make it as colorful as the outback sunset.</li>
                    </ul>
                    <div class="text-gray-600">
                        <p>Dive into Casharoo – where your finances find their flow and fun jumps in!</p>
                        <p>Casharoo: Making cents (and dollars) of your expenses. 🎉"</p>
                    </div>
                    <div>
                        <a href="/accounts/signup" class="btn-main">
                            Get Started
                        </a>
                    </div>
                </section>
            </div>
        
        </section>
    {% endif %}
</div>
{% endblock %}